# API URL for the frontend
VITE_API_BASE_URL=http://localhost:8080/api
VITE_APP_TITLE=React Shadcn App
VITE_AUTH_DOMAIN=your-auth.example.com

POSTGRES_DB=taskmaster
POSTGRES_USER=admin
POSTGRES_PASSWORD=zntPEGASUS77K@......****

SPRING_DATASOURCE_URL=jdbc:postgresql://db:5432/taskmaster
SPRING_DATASOURCE_USERNAME=admin
SPRING_DATASOURCE_PASSWAME=zntPEGASUS77K@......****