# General
.env
.env.*
!.env.example
.DS_Store
*.log

# Frontend
frontend/node_modules
frontend/dist
frontend/dist-ssr
frontend/.local

# Backend
backend/.gradle
backend/build
backend/out
backend/.settings
backend/.classpath
backend/.project
backend/bin

# IDEs
.vscode/
!.vscode/extensions.json
.idea/
*.swp
*.swo
node_modules
